@import "../variables.less";
@menu_height: 400px;
@menu_width: 400px;

#main-menu {
    margin: 0 auto;
    height: @menu_height;
    width: @menu_width;

    .quad {
        height: @menu_height;
        width: @menu_width;
        position: absolute;
    }

    .quad-content {
        -webkit-transition: width .5s, height .5s, z-index .5s;
        transition: width .5s, height .5s, z-index .5s;
        width: @menu_width/2;
        height: @menu_height/2;
        position: absolute;
        overflow: hidden;
        z-index: 100;

        &:hover {
            z-index: 9999;
            -webkit-transition: width .5s, height .5s, z-index .5s;
            transition: width .5s, height .5s, z-index .5s;
            width: @menu_width;
            height: @menu_height;
        }
    }

    .quad-title {
        position: absolute;
        width: @menu_width/2;
        height: @menu_height/2;
        text-align: center;
        vertical-align: middle;
        line-height: @menu_height/2;
        font-size: xx-large;
        color: black;
        .quad-title-text {
            padding: 5px;
            background-color: rgba(255, 255, 255, .7);
            border-radius: 10px;
        }
    }

    .quad-options {
        width: @menu_width;
        height: @menu_height;
        position: absolute;
    }

    .quad-list {
        height: @menu_height;
        width: @menu_width/2;
        position: absolute;
        vertical-align: middle;
        .quad-list-item {
            position: absolute;
            width: 100%;
            &.top-down {
                top: 50px;
            }
            &.bottom-up {
                bottom: 50px;
            }
            .item {
                width: 100%;
                padding-top: 10px;
                padding-bottom: 10px;
                text-align: center;
                span {
                    padding: 5px;
                    border-radius: 10px;
                    border: 1px solid #aaa;
                    background-color: rgba(255, 255, 255, .9);
                }
            }
        }
    }

    #code {
        .quad-content {
            /*background-image: url(@codepicture);*/
            background-image: url(@codepicture);
            background-size: @menu_width @menu_height;
            background-position: left top;
            top: 0;
            left: 0;
            .quad-title, .quad-options {
                top: 0;
                left: 0;
            }
            .quad-list {
                right:0;
            }
        }
    }
    #dance {
        .quad-content{
            background-image: url(@dancepicture);
            background-size: @menu_width @menu_height;
            background-position: right top;
            top: 0;
            right: 0;
            .quad-title, .quad-options {
                top: 0;
                right: 0;
            }
            .quad-list {
                left:0;
            }
        }
    }
    #about {
        .quad-content{
            /*background-image: url(@aboutpicture);*/
            background-image: url(@aboutpicture);
            background-size: @menu_width @menu_height;
            background-position: left bottom;
            bottom: 0;
            left: 0;
            .quad-title, .quad-options {
                bottom: 0;
                left: 0;
            }
            .quad-list {
                right:0;
            }
        }
    }
    #logo {
        .quad-content{
            /*background-image: url(@logo);*/
            background-image: url(@logo);
            background-size: @menu_width @menu_height;
            background-position: right bottom;
            bottom: 0;
            right: 0;
            .quad-title, .quad-options {
                bottom: 0;
                right: 0;
            }
            .quad-list {
                left:0;
            }
        }
    }
}