{% extends "base.html" %}
{% load static from staticfiles %}
{% block extrastyle %}
    <link href="{% static "styles/home/index.less" %}" media="all" rel="stylesheet" type="text/less"/>
{% endblock %}
{% block content %}
    <div id="main-menu">
        <div class="quad" id="code">
            <div class="quad-content">
                <div class="quad-title">
                    <span class="quad-title-text">
                        Code
                    </span>
                </div>
                <div class="quad-options">
                    <div class="quad-list">
                        <div class="quad-list-item bottom-up">
                            <div class="item">
                                <a class="menu-sub-item" href="/code/portfolio">
                                    <span>
                                        Portfolio
                                    </span>
                                </a>
                            </div>
                            <div class="item">
                                <a class="menu-sub-item" href="/code/technologies">
                                    <span>
                                        Technologies
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="quad" id="dance">
            <div class="quad-content">
                <div class="quad-title">
                    <span class="quad-title-text">
                        Dance
                    </span>
                </div>
                <div class="quad-options">
                    <div class="quad-list">
                        <div class="quad-list-item bottom-up">
                            <div class="item">
                                <a class="menu-sub-item" href="/dance/privatelessons">
                                    <span>
                                        Private Lessons
                                    </span>
                                </a>
                            </div>
                            <div class="item">
                                <a class="menu-sub-item" href="/dance/experience">
                                    <span>
                                        Experience
                                    </span>
                                </a>
                            </div>
                            <div class="item">
                                <a class="menu-sub-item" href="/dance/qualifications">
                                    <span>
                                        Qualifications
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="quad" id="about">
            <div class="quad-content">
                <div class="quad-title">
                    <span class="quad-title-text">
                        About
                    </span>
                </div>
                <div class="quad-options">
                    <div class="quad-list">
                        <div class="quad-list-item top-down">
                            <div class="item">
                                <a class="menu-sub-item" href="/about/bio">
                                    <span>
                                        Bio
                                    </span>
                                </a>
                            </div>
                            <div class="item">
                                <a class="menu-sub-item" href="/about/education">
                                    <span>
                                        Education
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="quad" id="logo">
            <div class="quad-content">
                <div class="quad-title">
                    <span class="quad-title-text">
                        Sam Estrem
                    </span>
                </div>
                <div class="quad-options">
                    <div class="quad-list">
                        <div class="quad-list-item top-down">
                            <div class="item">
                                <a class="menu-sub-item" href="/me/contact">
                                    <span>
                                        Contact Me
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}