div#container {
  width: 100%;
}
div#body-content {
  width: 800px;
  margin: 0 auto;
}

#main-menu {
  margin: 100px;
  height: 400px;
  width: 400px;
  border-radius: 25px;
  text-align: center;
}
#main-menu .quad {
  position: absolute;
  height: 400px;
  width: 400px;
}
#main-menu .quad-content {
  width: 200px;
  height: 200px;
  z-index: 100;
  position: absolute;
}
#main-menu .quad-title {
  position: absolute;
}
#main-menu .quad-options {
  width: 400px;
  height: 400px;
  position: absolute;
}
#main-menu #one .quad-content {
  top: 0;
  left: 0;
  background-color: blue;
}
#main-menu #one .quad-content .quad-title {
  top: 0;
  left: 0;
}
#main-menu #two .quad-content {
  top: 0;
  right: 0;
  background-color: red;
}
#main-menu #two .quad-content .quad-title {
  top: 0;
  right: 0;
}
#main-menu #three .quad-content {
  bottom: 0;
  left: 0;
  background-color: green;
}
#main-menu #three .quad-content .quad-title {
  bottom: 0;
  left: 0;
}
#main-menu #four .quad-content {
  bottom: 0;
  right: 0;
  background-color: orange;
}
#main-menu #four .quad-content .quad-title {
  bottom: 0;
  right: 0;
}
