div#container {
  width: 100%;
}
div#body-content {
  width: 800px;
  margin: 0 auto;
}

#main-menu {
  margin: 100px;
  height: 400px;
  width: 400px;
  border-radius: 25px;
}
#main-menu .quad {
  height: 400px;
  width: 400px;
  position: absolute;
  z-index: 100;
}
#main-menu .quad-content {
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: 100;
}
#main-menu .quad-title {
  position: absolute;
  z-index: 200;
}
#main-menu .quad-options {
  width: 400px;
  height: 400px;
  position: absolute;
  z-index: 10;
}
#main-menu .quad-list {
  height: 400px;
  width: 200px;
  position: absolute;
  z-index: 10;
  vertical-align: middle;
}
#main-menu .quad-list .quad-list-item {
  position: inherit;
  z-index: 10;
  padding: 20px;
}
#main-menu #one .quad-content {
  top: 0;
  left: 0;
  background-color: blue;
}
#main-menu #one .quad-content .quad-title,
#main-menu #one .quad-content .quad-options {
  top: 0;
  left: 0;
}
#main-menu #one .quad-content .quad-list {
  right: 0;
}
#main-menu #two .quad-content {
  top: 0;
  right: 0;
  background-color: red;
}
#main-menu #two .quad-content .quad-title,
#main-menu #two .quad-content .quad-options {
  top: 0;
  right: 0;
}
#main-menu #two .quad-content .quad-list {
  left: 0;
}
#main-menu #three .quad-content {
  bottom: 0;
  left: 0;
  background-color: green;
}
#main-menu #three .quad-content .quad-title,
#main-menu #three .quad-content .quad-options {
  bottom: 0;
  left: 0;
}
#main-menu #three .quad-content .quad-list {
  right: 0;
}
#main-menu #four .quad-content {
  bottom: 0;
  right: 0;
  background-color: orange;
}
#main-menu #four .quad-content .quad-title,
#main-menu #four .quad-content .quad-options {
  bottom: 0;
  right: 0;
}
#main-menu #four .quad-content .quad-list {
  left: 0;
}
