div#container {
  padding: 100px;
}

#main-menu {
  margin: 0 auto;
  height: 400px;
  width: 400px;
}
#main-menu .quad {
  height: 400px;
  width: 400px;
  position: absolute;
}
#main-menu .quad-content {
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: 100;
  overflow: hidden;
  z-index: 5000;
}
#main-menu .quad-content:hover {
  z-index: 9999;
  -webkit-transition: width .5s, height .5s;
  transition: width .5s, height .5s;
  width: 400px;
  height: 400px;
}
#main-menu .quad-title {
  position: absolute;
  width: 200px;
  height: 200px;
  text-align: center;
  vertical-align: middle;
  line-height: 200px;
  font-size: x-large;
}
#main-menu .quad-options {
  width: 400px;
  height: 400px;
  position: absolute;
}
#main-menu .quad-list {
  height: 400px;
  width: 200px;
  position: absolute;
  vertical-align: middle;
}
#main-menu .quad-list .quad-list-item {
  position: absolute;
  padding: 20px;
}
#main-menu .quad-list .quad-list-item.top-down {
  top: 0;
}
#main-menu .quad-list .quad-list-item.bottom-up {
  bottom: 0;
}
#main-menu #one .quad-content {
  background-image: url("/static_collected/images/bowling1.png");
  background-size: 400px 400px;
  top: 0;
  left: 0;
}
#main-menu #one .quad-content .quad-title,
#main-menu #one .quad-content .quad-options {
  top: 0;
  left: 0;
}
#main-menu #one .quad-content .quad-list {
  right: 0;
}
#main-menu #two .quad-content {
  background-image: url("/static_collected/images/bowling2.png");
  background-size: 400px 400px;
  top: 0;
  right: 0;
}
#main-menu #two .quad-content .quad-title,
#main-menu #two .quad-content .quad-options {
  top: 0;
  right: 0;
}
#main-menu #two .quad-content .quad-list {
  left: 0;
}
#main-menu #three .quad-content {
  background-image: url("/static_collected/images/bowling3.png");
  background-size: 400px 400px;
  bottom: 0;
  left: 0;
}
#main-menu #three .quad-content .quad-title,
#main-menu #three .quad-content .quad-options {
  bottom: 0;
  left: 0;
}
#main-menu #three .quad-content .quad-list {
  right: 0;
}
#main-menu #four .quad-content {
  background-image: url("/static_collected/images/bowling4.png");
  background-size: 400px 400px;
  bottom: 0;
  right: 0;
}
#main-menu #four .quad-content .quad-title,
#main-menu #four .quad-content .quad-options {
  bottom: 0;
  right: 0;
}
#main-menu #four .quad-content .quad-list {
  left: 0;
}
