div#container {
  width: 100%;
}
div#body-content {
  width: 800px;
  margin: 0 auto;
}

#main_menu {
  margin: 100px;
  height: 400px;
  border: 2px solid #73AD21;
  border-radius: 25px;
}
#main_menu {
  text-align: center;
}
#main_menu #one {
  height: 50%;
  width: 50%;
  float: left;
}
#main_menu #two {
  height: 50%;
  width: 50%;
  float: right;
}
#main_menu #three {
  height: 50%;
  width: 50%;
  float: left;
}
#main_menu #four {
  height: 50%;
  width: 50%;
  float: right;
}
