div#container {
  width: 100%;
}
div#body-content {
  width: 800px;
  margin: 0 auto;
}

#main_menu {
  margin: 100px;
  height: 600px;
  width: 600px;
  border-radius: 25px;
  text-align: center;
}
#main_menu span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
#main_menu #one,
#main_menu #two,
#main_menu #three,
#main_menu #four {
  position: fixed;
  height: 600px;
  width: 600px;
}
